@import '../../helpers/Container.module.scss';
@import '../../assets/colors.scss';
@import '../../assets/fonts.scss';

* {
    box-sizing: border-box;
}

.Main__Block {
    display: flex;
    justify-content: center;
}

// .Container from Container.module.scss

.Inner__Block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.Item__Block {
        width: 292.5px;
        // height: 412px;
        margin-top: 1.5rem;
        padding: 1.25rem;
        display: flex;
        text-align: center;
        justify-content: center;

        &_Link {
            display: flex;
            flex-direction: column;
            text-decoration: none;
            align-items: center;

            img {
            max-width: 228px;
            object-fit: contain;
            }

            h5 {
                font-family: $font-fam;
                font-size: 16px;
                line-height: 120%;
                font-weight: 500;
                margin-top: 0.5rem;
                margin-bottom: 0.75rem;
                color: $text_title;
            }
        }
}



