@import '../../assets/colors.scss';
@import '../../assets/fonts.scss';

// *{
//     box-sizing: border-box;
// }

.Main__Block {
    margin-top: 0.5rem;
    box-sizing: border-box;


    .Inner__Block {
        display: flex;
        flex-wrap: wrap;
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 0.5rem;


        .Item__Block {
            padding: 1.5rem 0.25rem 0;
            flex:  33.33%;
            max-width: 33.333333%;


            &_Elem {
                background-color: #F3F3F3;
                padding: 1.5rem 1rem ;
                display: flex;
                // justify-content: center;
                // height: 100%;

                .Icon {
                    position: relative;
                    z-index: 10;
                }

                .Title {
                    // display: flex;
                    // flex-wrap: wrap;
                    // flex: 0 0 41.666667%;
                    max-width: 41.666667%;
                    width: 100%;
                    font-family: $font-fam;
                    font-size: 1rem;
                    font-weight: 500;
                    line-height: 1.5;
                    color: $text-head;
                    cursor: pointer;

                    & p:nth-child(1) {
                        color: $text-head;
                        margin-top: 0.25rem;
                    }

                    & p:nth-child(2) {
                        color: $main_text;
                        margin-top: 0.25rem;
                    }

                    & p:nth-child(3){
                        margin-top: 4rem;
                        font-size: 28px;
                    }
                }

                .Img_But {
                    cursor: pointer;
                    display: flex;
                    flex-wrap: wrap;
                    padding: 0 0.25rem;
                    justify-content: flex-end;

                    & img {
                        // width: 100%;
                        height: auto;
                        max-width: 240px;
                        max-height: 150px;
                        object-fit: contain;
                    }

                    &_Link {
                        text-decoration: none;
                        display: flex;

                        & .Btn {
                            position: relative;
                            font-size: 18px;
                            line-height: 21px;
                            color: $blue;
                            display: inline;
                            font-family: $font-fam;
                        }

                        & .Btn:hover {
                            text-decoration: underline;
                        }

                        & svg {
                            align-self: center;
                        }
                    }
                }
            }
        }
    }
}
