
:root {
    --icon-size: 24px;
}

.Icon {
    width: var(--icon-size);
    height: var(--icon-size);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;

    &_heartOutline {
        background-image: url(images/icons8-apple-logo.svg);
    }

    &_heart {
        background-image: url(images/icons8-apple-logo\ \(1\).svg);
    }

    &_left {
        background-image: url(images/left.svg);
        width: 10px;
        height: 10px;
        display: inline-block;
    }

    &_right {
        background-image: url(images/right.svg);
        // left: -10px;
        position: absolute;
        margin: 50px 0;
        z-index: 99;
        left: 550px;
        bottom: 210px;
        cursor: pointer;
        background-color: #fff;
    }

    &_slide_left {
        background-image: url(images/right.svg);
        transform: rotate(180deg);
        padding: 50px 0;
        left: -10px;
        position: absolute;
        z-index: 99;
        // top: 0;
        bottom: 220px;
        margin: auto;
        cursor: pointer;
    }

    &_home {
        background-image: url(images/home.svg);
        height: 15px;
    }
}
