
:root {
    --icon-size: 24px;
}

.Icon {
    width: var(--icon-size);
    height: var(--icon-size);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;

    &_heartOutline {
        background-image: url(images/icons8-apple-logo.svg);
    }

    &_heart {
        background-image: url(images/icons8-apple-logo\ \(1\).svg);
    }
}
