@import '../../../assets/fonts.scss';
@import '../../../assets/colors.scss';
@import '../../../helpers/Container.module.scss';

* {
    // box-sizing: border-box;
}

.Menu {
    display: flex;
    justify-content: center;
    background-color: #F1F1F1;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;

    // .Container from Container.module.scss

    &__Elem {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;

        &_Item {
            font-family: $font-fam;
            font-size: 12px;
            text-align: center;

            .Item_Link {
                text-decoration: none;
                color: #333333;
            }

            & p {

            }
        }

    }
}
