@import '../../../assets/colors.scss';
@import '../../../assets/fonts.scss';

* {
    // box-sizing: border-box;
}

.Menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #2E2E2E;

    &__Container {
        width: 1200px;
        padding: 0 15px;
    }


    &__Elem {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;

        .elem_item {
            text-decoration: none;
            color: #BDBDBD;
            font-family: $font-fam;
            font-size: 15px;

            &.active {
                color: $blue;
            }
        }
    }
}



