@import '../../../assets/colors.scss';
@import '../../../assets/fonts.scss';


.Menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #2E2E2E;


    &__Elem {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1200px;
        list-style: none;
           
        .elem_item {
            text-decoration: none;
            color: #BDBDBD;
            font-family: $font-fam;
            font-size: 15px;

            &.active {
                color: $blue;
            }
        }
    }
}



