$blue: #5E8BCE;
$text-color: #333333;
$main_text-head: #212529;
$main_text: #828282;
$text_title: #1D1D1F;


$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;



